// nextflow.config
paramsFile = 'params.yml'


profiles {
  local {
    process {
      executor     = 'local'
      beforeScript = 'conda activate scanpy_snapatac2_env'
    }
  }

  lsf {
    process {
      beforeScript = 'conda activate scanpy_snapatac2_env'
      executor       = 'lsf'
      queue          = 'normal'

      withLabel: 'preprocess' {
        cpus   = 1
        memory = 8.GB
      }

      withLabel: 'peakcalling' {
        cpus   = 1
        memory = 24.GB
      }
    }
  }
}
