// nextflow.config
paramsFile = 'params.yml'
conda.enabled = true

profiles {
  local {
    process {
      executor     = 'local'
      // beforeScript = 'conda activate scanpy_snapatac2'
    }
  }

  lsf {
    process {
      beforeScript = 'conda activate scanpy_snapatac2_env'
      executor       = 'lsf'
    }
    withLabel: 'preprocess' {
        queue  = 'normal'
        cpus   = 1
        memory = { 8.GB * task.attempt }
        maxRetries = 3
        errorStrategy = 'retry'
        process.resourceLimits = {
          memory: 98.GB
        }
    }
    withLabel: 'peakcalling' {
        queue  = 'hugemem'
        cpus   = 1
        memory = 400.GB
    }
    }

  slurm {
    process {
      // beforeScript = 'conda activate scanpy_snapatac2'
      executor = 'slurm'
    }

    withLabel: 'preprocess' {
      queue = 'icelake-himem'
      cpus = 1
      memory = { 8.GB * task.attempt }
      maxRetries = 3
      errorStrategy = 'retry'
    }

    withLabel: 'preprocess' {
      queue = 'icelake-himem'
      cpus = 1
      memory = { 8.GB * task.attempt }
      maxRetries = 3
      errorStrategy = 'retry'
    }
    
    withLabel: 'archr' {
      queue = 'icelake-himem'
      cpus = 1
      memory = { 8.GB * task.attempt }
      maxRetries = 3
      errorStrategy = 'retry'
    }

  }

  slurmtest {
    process {
      executor = 'slurm'
      cpus = 1
      memory = { 2.GB }
    }
  }
}